.page {
    font-family: 'Nunito', sans-serif;
    font-display: swap;
    &__container {
        margin: 0 auto;
        max-width: 1170px;
        @include onDesktop {
            padding: 0 60px;
        }
        @include onTablet {
            padding: 0 32px;
        }
        @include onMobile {
            padding: 0 16px;
        }
    }
}