$yellow: #f4e041;
$yellow-hover: #ffe302;
$black: #000;
$background-grey: #f8f8f8;
$white: #fff;
$disabled-grey: #b4b4b4;
$light-grey: #d0cfcf;
$dark-grey: #7e7e7e;
$light-blue: #00bdd3;
$red: #cb3d40;
$header-height: 60px;