.header {
    height: $header-height;
    background-color: $white;
    &__container {
        height: $header-height;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__signUp-conainer {
        display: flex;
    }
    &__logo-img {
        width: 104px;
        height: 26px;
    }
}